.challenge {
  position: absolute;
  text-align: center;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-box {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 350px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom, #ff0000, #ffffff, #00ff80);
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.253);
}

p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

label {
  text-align: left;
  margin: 12px 0;
}

input {
  width: 94.5%;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  text-align: start;
}

.button-box {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  outline: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 600px) {

  .container-box {
    top: 60%;
    width: 80%;
    padding: 15px;
  }

  p {
    font-size: 20px;
  }

  button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .button-box {
    flex-direction: column;
    gap: 15px;
  }
}